/* insumos */
.h3ins {
    color: #395173;
    background-color: $colorfondo;
    margin-bottom: 0px;
    padding-left: 29px;
}
.ulins {
    background: linear-gradient(to bottom, $colorfondo 20%, #907BBB 80%);
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    text-decoration: none;
    list-style: none;
}