* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* globales */
body {
    background-color: rgb(235, 235, 235);
    text-align: center;
    text-decoration: none;
}
#header {
    background-color: rgb(235, 235, 235);
    padding: 30px;
    text-align: center;
    text-decoration: none;
    grid-area: header;
}
#header .logo img {
    width: 400px;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
}
#header .menu ul li {
    font-size: x-large; 
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    background-color:rgb(236, 174, 184) ;
    border: 1px solid rgb(136, 134, 134);
    padding: 5px;
    margin: auto;
}
#header .menu ul li a {
    color: brown;
    text-decoration: none;
}
#header .menu ul li a:hover {
    color: rgb(146, 107, 0);
    background-color: rgba(255, 127, 80, 0.637);
}
/* index */
main#main {
    background-color: #ff7f50;
    padding: 20px;
    text-align: center;
    color: crimson;
    padding-bottom: 40px;
}
#talleres .imgta {
    text-align: center;
    margin-bottom: 50px;
}
#talleres .titulo2 {
    color: rgb(92, 158, 27);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    background-color: rgb(221, 210, 59);
    border-style: hidden;
    font-weight: 50;
    margin: 0px;
}
#talleres .boton {
    text-align: center;
    font-size: 15px;
}
#banner {
text-align: right;
}
#foote {
    display: inline-flex;
    grid-area: footer;
    width: 100%;
}
.f1 a img {
    width: auto;
    height: auto;
}
.f2 a img {
    width: auto;
    height: auto;
}
#descuento {
    padding-bottom: 25px;
    text-align: center;
    background-color: #EBEBEB;
}
#descuento h3 {
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
#descuento p {
    font-size: 25px;
    line-height: 1.2;
    background-color: rgb(221, 210, 59);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#descuento .boton a input {
    width: 200px;
    height: 40px; 
    font-size: auto;
}
#footer {
    background-color: #EBEBEB;
    display: flex;
    
}
#footer .f1 {
    padding-top: 0px;
}
#footer .f3 {
text-align: center;
height: 100%;
width: 100%;
}
#header .sub ul li{
font-size: x-large; 
display: inline;
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 10px;
background-color:rgb(236, 174, 184) ;
border: 1px solid rgb(136, 134, 134);
padding: 8px;
color: rgb(143, 68, 143);
margin: auto;
}
#header .sub ul li:hover {
    background-color: greenyellow;
}
.talleresbody {
    text-align: center;
    background-color: rgb(235, 235, 235);
}
.sub ul li a{
    text-decoration: none;
}
.titulo {
    font-size: 40px;
}
#footer div.f4 {
    text-align: end;
    width: 100%;
}
div.f3 p{
    display: inline;
    text-align: end;
}
.ta2 img {
    width: 426px;
    height: 426px; 
}
.h3ins {
    color: #395173;
    background-color: #EBEBEB;
    margin-bottom: 0px;
    padding-left: 29px;
}
.h2con {
    background-color: #EBEBEB;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900px;
    font-size: 35px;
    margin-bottom: 0px;
}
#foote {
    display: flex; 
    text-align: center; 
    background-color: #EBEBEB;
}
form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    background-color: #EBEBEB;
    text-align: start;
    grid-area: form;
}
.name {
    padding-right: 21px;
    padding-bottom: 5px;
}
.mail {
padding-bottom: 5px;
}
.comentarios {
    padding-left: 12px;
    padding-bottom: 30px;
}
.ulins {
    background: linear-gradient(to bottom, #EBEBEB 20%, #907BBB 80%);
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
    text-decoration: none;
    list-style: none;
}
html {
    height: 100%;
}
.ppading {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.mail {
    padding-left: 22px;
}
.comentarios {
    text-align: justify;
}
.mapa {
    display: grid ;
    grid-area: mapa;
}
p {
    margin: 0px;
}

